<div class="Session">
    <div id="conteProfi">
        <div class="logo">
            <h1>MECATRON</h1>
            <h2>Tu Perfil::</h2>
            <div>
                <a href="/login"><img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0" class="logoS"></a>
                <a href="/chat"><img src="https://i.ibb.co/ftwkrSb/png-transparent-email-computer-icons-message-icon-design-bass-miscellaneous-angle-black-1-1.png"  alt="login" border="0" class="logoS"></a>
                <a href="/products" style="margin-left: 2em"><img src="https://i.ibb.co/pKgL6pC/bench.png" alt="realtimeproducts" border="0" class="logoS"></a>
                <a href="/cart" style="margin-left: 2em"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
            </div>
        </div>
        <br/>
        <div style="display: flex; justify-content: center; gap: 1em; flex-direction: row; align-items: center;">
            <div class="inputRole"
                style="display: flex; justify-content: center; gap: 1em; flex-direction: column; align-items: center;">
                <input type="file" id="archivoInput" style="display: none;" multiple>
                <label for="archivoInput" style="padding: 10px;  font-family: 'Montserrat'; background-color: #bfe4fd; color: #002877; cursor: pointer; border-radius: 5px; border: none;">
                    <span id="nombreArchivo">Seleccionar archivo</span>
                </label>
                <input class="boton" type="submit" value="Cargar Documentos">
                <button id="ChangeROLE" class="boton">Actualizar Role</button>
            </div>
            <p>Nombre: {{user.name}}.</p>
            <p>Correo: {{user.email}}.</p>
            <p>Rol: {{user.role}}.</p>
            <br/>
            <a class="botoncls" href="/login">Cerrar sesión</a>
        </div>
    </div>
</div>
<script>
    const archivoInput = document.getElementById('archivoInput');
    const nombreArchivo = document.getElementById('nombreArchivo');
    archivoInput.addEventListener('change', () => {
        const archivos = archivoInput.files;
        if (archivos.length > 0) { 
            nombreArchivo.textContent = archivos[0].name;
        } else {
            nombreArchivo.textContent = "Seleccionar archivo";
        }
    });
</script>